//PALLETTE
$verde--c: #019851;
$grisConOpacidad: rgba(255,255,255,.4);
$grisHover: #4f4f4f;
$grisClaro: #dedede;
$celeste: #4facd3;
$naranja: #ddb146;
$box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
$verdePrecios: #86b773;
$celestePrecios: #4c8dce;
$linkSinLinea:none;
$marginsCards:2em;

//REDES SOCIALES
$facebook: #3b5998;
$twitter: #55acee;
$youtube: #cd201f;

//FONTS
$font--family: 'Montserrat', sans-serif;
$font---family:'Open Sans', sans-serif;