@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container__header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 0em;
  width: 75vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.container__header__navbar .container__header__navbar__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25em;
}

.container__header__navbar .container__header__navbar__options .navbar_options {
  text-decoration: none;
  padding: 0em 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  color: #dedede;
  background-color: transparent;
  /* :hover{
                text-decoration: underline;
            } */
}

.container__header__background {
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100vw;
}

.container__header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header__content {
  color: #dedede;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0em;
}

.container__header__content .headerContent .headerContent__title {
  padding: 0.7em;
}

.container__header__content .headerContent .headerContent__text {
  padding: 0.7em;
}

.container__header__content .headerContent .headerContent__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header__content .headerContent .headerContent__buttonsContainer .buttonHeader {
  border: 1px solid #dedede;
  color: #dedede;
  font-size: 20px;
  padding: 0.5em;
  text-decoration: none;
  margin: 1.2em;
}

.container__content {
  padding: 4em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.container__content .container__content__title {
  text-align: center;
  font-size: 2em;
  font-weight: 100;
}

.container__content .container__content__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em;
}

.container__content .container__content__cards .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20%;
  margin: 2em;
}

.container__content .container__content__cards .cards .cards__img {
  margin-bottom: 2em;
  height: 100%;
}

.container__content .container__content__cards .cards .cards__img .cards__title {
  margin-bottom: 2em;
}

.container__content .container__content__cards .cards .cards__img .cards__title .cards__text {
  font-size: 100px;
  margin-bottom: 2em;
  text-align: center;
}

.container__content__cardsAndinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 4em;
  width: 60%;
  height: 350px;
  margin-top: 5em;
}

.container__content__cardsAndinfo .img {
  width: 70%;
  height: 100%;
}

.container__content__cardsAndinfo .img .img__img {
  width: 100%;
  height: 100%;
}

.container__content__cardsAndinfo .titleAndinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__content__cardsAndinfo .titleAndinfo .titleOfCards {
  font-size: 2em;
  color: #4facd3;
}

.container__content__cardsAndinfo .infoOfCards__text {
  margin: 2em;
  font-size: 1em;
}

.container__content__cardsAndinfoReverted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0em 4em;
  width: 60%;
  height: 350px;
  margin-top: 5em;
}

.container__content__cardsAndinfoReverted .titleAndinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__content__cardsAndinfoReverted .titleAndinfo .titleOfCards {
  font-size: 2em;
  color: #ddb146;
}

.container__content__cardsAndinfoReverted .infoOfCards__text {
  margin: 2em;
  font-size: 1em;
}

.container__content__cardsAndinfoReverted .img {
  width: 70%;
  height: 100%;
}

.container__content__cardsAndinfoReverted .img .img__img {
  width: 100%;
  height: 100%;
}

.container__section_socialMedia {
  background: #2d353e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16em;
}

.container__section_socialMedia .container__section_socialMedia_title {
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
  color: #dedede;
}

.container__section_socialMedia .socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.container__section_socialMedia .socialMedia img {
  padding: 2em 6em;
  cursor: pointer;
}

.container__footer {
  background-color: aqua;
}
/*# sourceMappingURL=main.css.map */